<div class="headerTop">
  <div class="intro">
    <h1>
        Hello, I'm PHUA KUAN YU,
    </h1>
    full stack web developer | entrepreneur
  </div>
</div>

<div class="ui container" id="platforms">
  <div class="ui centered grid">
    <div class="ui items">

      <h1>Platforms</h1>
        <div class="item">
          <a class="image" href="https://manq.herokuapp.com">
            <img src="https://media.giphy.com/media/l0HlTpNlMF0ekqzOE/giphy.gif">
          </a>
          <div class="content">
            <a class="header" href="https://manq.herokuapp.com">ManQ</a>
            <div class="meta">
              <span>A platform that brings the world’s physical queue to the virtual space.</span>
            </div>
            <div class="description">
              <p></p>
            </div>
            <div class="extra">
            </div>
          </div>
        </div>
      </a>

      <br>
      <div class="ui divider"></div>
      <br>

        <div class="item">
          <a class="image" href="https://towkay-huat.herokuapp.com">
            <img src="https://media.giphy.com/media/3oz8xQoU6O6xFXXak8/giphy.gif">
          </a>
          <div class="content">
            <a class="header" href="https://towkay-huat.herokuapp.com">Tow Kay Huat</a>
            <div class="meta">
              <span>An online fish trading platform for Singapore’s fish port.</span>
            </div>
            <div class="description">
              <p></p>
            </div>
            <div class="extra">
            </div>
          </div>
        </div>
      </a>

      <br>
      <div class="ui divider"></div>
      <br>

        <div class="item">
          <a class="image" href="https://bizzaar.herokuapp.com">
            <img src="https://media.giphy.com/media/l3vRmXYuDI8J3Z31e/giphy.gif">
          </a>
          <div class="content">
            <a class="header" href="https://bizzaar.herokuapp.com">Bizzaar</a>
            <div class="meta">
              <span>A platform where people can buy and sell business easily.</span>
            </div>
            <div class="description">
              <p></p>
            </div>
            <div class="extra">
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>

<div class="ui container" id="games">
  <div class="ui centered grid">
    <div class="ui items">
      <h1>Games</h1>

      <div class="item">
        <div class="image">
          <img src="https://media.giphy.com/media/3oz8xUk10hClhYkiD6/giphy.gif">
        </div>
        <div class="content">
          <a class="header" href="https://phuaky.github.io/baccaratSpecial/">Baccarat Special</a>
          <div class="meta">
            <span>

            </span>
          </div>
          <div class="description">
            <p>
              Baccarat Special is the baby of a foursome between <br>
              <ol>
                <li>Singapore CNY style ban-luck</li>
                <li>Baccarat</li>
                <li>Pok Deng</li>
                <li>Poker Scoring System</li>
              </ol>
            </p>
          </div>
          <div class="extra">
          </div>
        </div>
      </div>

      <br>
      <div class="ui divider"></div>
      <br>

      <div class="item">
        <div class="image">
          <img src="https://media.giphy.com/media/l3vR2lg45qkrd1DRC/giphy.gif">
        </div>
        <div class="content">
          <a class="header">Baccarat King</a>
          <div class="meta">
            <span>A multiplayer online version of Baccarat Special.</span>
          </div>
          <div class="description">
            <p></p>
          </div>
          <div class="extra">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="ui container">
  <div class="ui centered grid" id="contact">
    <a href="https://github.com/phuaky"><i class="github alternate icon"></i></a>
    <a href="https://www.linkedin.com/in/phua-kuan-yu"><i class="linkedin square icon"></i></a>
    <a href="mailto:phuakuanyu@gmail.com"><i class="mail icon"></i></a>
  </div>
</div>
