<div class="ui text container" id="backgroundPic">
  <div class="ui centered grid">

      Hello, I'm PHUA KUAN YU,
      <br>
      I'm a FULL STACK WEB DEVELOPER <br>
      from Singapore.
  </div>
</div>
