.headerTop {
  background-image: url('/images/future-city.jpg');
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;

}
body {
  color: #3E1929;
  background-color: #D7CEC7;
}

#games {
  margin: 5%;
  padding: 5%;
  border: 5px solid #4C243B;
}

#platforms {
  margin: 5%;
  padding: 5%;
  border: 5px solid #4C243B;
}

#intro {
  margin: 5%;
  padding: 5%;
  border: 5px solid #4C243B;

}
